* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F66000;
}
.tituloo {
    font-weight: 400;
    margin-left: 5rem;
    color: #FFFFFF;
    font-size: 6rem;
    margin-top: 3rem;
}
.subtitulo {
    font-weight: 300;
    color: #FFFFFF;
    font-size: 5rem;
    margin-left: 16rem;
    position: relative;
    bottom: 2rem;
}
main {
    display: flex;
}
.inicioMain {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 4.5rem;
    margin-left: 5.5rem;
    margin-top: 3rem;
}
.map {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 60rem;
}
.imagens {
    width: 230px;
}
.compras {
background-color: #F7E0CE;
width: 23rem;
position: relative;
bottom: 2rem;
border-radius: 120px;
}
.carrinho {
    background-color: #D3C5BB;
    width: 17rem;
    height: 15rem;
    border-radius: 80px;
    margin-top: 4rem;
    margin-left: 3rem;
    padding-left: 5rem;
    padding-top: 3.5rem;
}
.textoCarrinho {
    margin-right: 4rem;
    font-size: 14px;
}
.botoes {
    background-color: #D3C5BB;
    display: flex;
    width: 12rem;
    height: 2.5rem;
    margin-top: 4.5rem;
    margin-left: 5.5rem;
    border-radius: 80px;
}
.mais {
    margin-left: 1rem;
    margin-top: 0.2rem;
}
.menos {
    margin-top: 0.2rem;
    margin-left: 6rem;
}
